.card-cont{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-cont-mytars{
    padding: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.invisible{
    display: none;
}